header {
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: #F1F1F1;
    
}
header a {
    text-decoration: none;
    display: inline;
    color: #000839;
}
.header__nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 90px;
}
.header__logo-5masters {
    margin-left: 50px;
}
.header__nav--logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__nav--logo img {
    width: 220px;
    margin-top: 5px;
    margin-left: 20px;
}
.header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header__buttons a {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 22px;
    border-bottom: 5px solid #FFA41B;
    animation-name: bounce ;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: initial;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
.header__profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;

}
.header__profile--img-search {
    width: 25px;
    height: 25px;
    margin-right: 30px;
}
.header__profile--img-profile {
    width: 50px;
    height: 50px;
}   
