.recent-posts {
  width: 90%;
  margin: 0 auto;
}

.recent-posts__title {
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.recent-posts__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.recent-posts__container-item {
  border: 1px solid #ccc;
}

.recent-posts__container-item img {
  width: 240px;
  height: 200px;
}

.recent-posts__container-item h3 {
  margin: 0 auto;
  text-align: center;
}

.recent-posts__container-item p {
  margin: 0 auto;
  padding: 10px;
  text-align: justify;
}