html, body {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0,03em;
	line-height: 1.6;
	

}

.container .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;

}
.container .card {
	width: 240px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	margin: 40px;

	
	
}

.container .card img {
	border-radius: 5px 5px 0 0;
	 width: 240px;
}

.container .card {
	font-weight: 600;
}

.container .card p {
	margin: 5px;
	padding: 0 1rem;
	font-size: 12px;
	font-weight: 300;

}
