.posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.post__content, .posts__one, .posts__two, .posts__three {
    grid-row: 1;
    width: 240px;
}

.posts__one {
    grid-column: 1 / 4;
}

.posts__two {
    grid-column: 2 / 4;
}
.posts__three {
    grid-column: 3 / 4;
}
.posts__four {
    grid-column: 4 / 4;
}